<!DOCTYPE html>
<html>
    <html lang="en us"></html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" style type="text/css" />
        <title>layout</title>
    </head>
    <body>
        <div id="header">
            <h1> Two Column Float Layout</h1>
        </div>
        <div id="left">
            <h2>Left Column</h2>
            <p>
                This is the story of a young man who sought to make his
                 world a better place.......
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
            </p>
        </div>
        <div id="right">
            <h2>Right Column</h2>
            <p>
                So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
                 So many times i cried,my..........would tell
                me to work so hard, nd i made it,it didnt kill 
                 me made me stronger,pray to God that you feel me!
            </p>
        </div>
        <div id="footer">
            <h1>Carefully Crafted By An Apprentice</h1>
        </div>
    </body>
</html>